<h2 id="about">About</h2>
<p>Every wanted a story to have an alternate ending? Or wanted to add a plot twist of your own? Try continuing another person's story or add your story to have it continued by someone else!</p>

<h2 id="formatting">Formatting</h2>
<p>
	Surround text by ** to <b>bold</b>, * to <i>itialize</i>, __ to <u>underline</u>.
	Line breaks will be removed. Try splitting up your paragraphs into multiple submissions to allow for more branches.
</p>
