<!DOCTYPE html>
<html>
<head>
    <title>Continuity{{#if currentID}}:{{currentID}}{{/if}}</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<header>
    <h1><a href="/">Continuity</a>{{#if currentID}}:<a href="/{{currentID}}">{{currentID}}</a>{{/if}}</h1>
    <div id="user" class="loggedin">
        Welcome back <a href="/user/2">username</a>! 😀
    </div>
    <form id="login" action="/login" method="post">
        <input type="email" placeholder="email" />
        <input type="password" placeholder="password" />
        <button type="submit">log in or sign up</button>
    </form>
</header>
<main>
    {{{body}}}
</main>
<footer>
    &copy; 2016 &ndash; all continuations belong to their respective authors
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/front.js"></script>
</body>
</html>
