<form id="login" class="large" action="/login" method="post">
	<h2>Log In</h2>
	<p>
		Log in to your account to write and star stories!
		<a href="/signup">Need an account?</a>
		<a href="/forgot">Forgot your password?</a>
	</p>
	<label for="email">Email</label>
	<input type="email" name="email" id="email" placeholder="kittenlover23@example.com" class="getfocus" value="{{email}}" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<label class="inputlike checkbox" for="remember">
		<input type="checkbox" name="remember" id="remember" />
		<span>Remember me</span>
	</label>
	<button type="submit" class="primary">Log In</button>
</form>
