<form id="login" action="/login" method="post">
	<h2>Log In</h2>
	<label for="email">Email</label>
	<input type="email" name="email" id="email" placeholder="kittenlover23@example.com" class="focus" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<button type="submit" class="primary">Log In</button>
	<a href="/signup">Need an account?</a>
</form>
