<h2 id="about">About</h2>
<p>
	Every wanted a story to have an alternate ending?
	Or wanted to add a plot twist of your own?
	Try continuing another person's story or add your story to have it continued by someone else!
</p>

<h2 id="formatting">Formatting</h2>
<p>
	You can **<b>bold</b>**, *<i>itialize</i>*, and __<u>underline</u>__ text by surrounding it with the appropriate characters (two asterisks, one asterisk, two underscores).
	Line breaks will be removed. Try splitting up your paragraphs into multiple submissions to allow for more branches.
</p>

<h2 id="opensource">Open source</h2>
<p>
	Like all good software does, this site uses code written by others.
	Below is a list of projects that help make this site function.
</p>
<ul>
	<li>
		Fewer JavaScript struggles using
		<a href="https://jquery.com/">jQuery</a>
		by the JS Foundation and other contributors. Licensed under the
		<a href="https://opensource.org/licenses/MIT">MIT License</a>.
	</li>
	<li>
		One step closer to the future using
		<a href="http://leaverou.github.io/prefixfree/">PrefixFree</a>
		by Lea Verou. Licensed under the
		<a href="https://opensource.org/licenses/MIT">MIT License</a>.
	</li>
	<li>
		Autoupdating timestamps using
		<a href="http://timeago.yarp.com/">timeago</a>
		by Ryan McGeary. Licensed under the
		<a href="https://opensource.org/licenses/MIT">MIT License</a>.
	</li>
	<li>
		Icons from
		<a href="https://material.io/icons/">Material design icons</a>
		by Google. Licensed under the
		<a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License Version 2.0</a>
		(icons have been repackaged using <a href="http://fontello.com/">Fontello</a>).
	</li>
	<li>
		List of emoji from
		<a href="https://github.com/muan/emojilib">emojilib</a>
		by Mu-An Chiou. Licensed under the
		<a href="https://opensource.org/licenses/MIT">MIT License</a>.
	</li>
</ul>

<h2 id="contact">Contact</h2>
<p>
	Have questions? Concerns? Fanmail?
	Send us an email at <a href="#" class="emailus">hi<span>bot</span>@example.com</a>.
	If you have an issue with user-submitted content, please use the flag <i class="icon-flag"></i> feature.
</p>
