<form id="signup" action="/signup" method="post">
	<h2>Sign Up</h2>
	<label for="username">Username</label>
	<input type="text" name="username" id="username" placeholder="iluvkittens" class="focus" />
	<label for="email">Email</label>
	<input type="text" name="email" id="email" placeholder="kittenlover23@example.com" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<label for="reentered">Re-enter Password</label>
	<input type="password" name="reentered" id="reentered" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<button type="submit" class="primary">Sign up</button>
	<a href="/login">Have an account?</a>
</form>
